*, *::before, *::after{
    box-sizing: border-box;
}
body{
    max-width: 500px;
    font-family: Arial, Helvetica, sans-serif;
    background: #222;
    padding: 16px;
    max-width: 500px;
    margin: 0 auto;
}

h1{
    color: #f0e;
    font-size: 12px;
    font-weight: 600;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

    img{
        width: 16px;
        height: auto;
    }
}

canvas{
    background: white;
}

header{
    grid-area: header;
    background: silver;
    padding: 2px;
    
    button{
        border: 0;
        background: transparent;
    
        &:hover {
            box-shadow: 
                1px 1px black,
                inset -1px -1px gray,
                inset 1px 1px white;
        }
    }
}

main{
    grid-area: main;
    padding: 16px;
}

footer{
    grid-area: footer;
    background: silver;
    padding: 4px;
}

#container{
    border: 1px solid #808080;
    display: grid;
    grid-template-areas: 
        "header header header"
        "aside main main"
        "footer footer footer";
}

aside{
    grid-area: aside;
    background: silver;
    width: 52px;
    padding-top: 2px;

    nav{
        display: flex;
        flex-wrap: wrap;

        gap: 1px;
        justify-content: center;
    }
        
    button{
        width: 24px;
        height: 24px;

        background: #bdbdbd;

        border: 1px solid #fff;
        border-right-color: #000;
        border-bottom-color: #000;

        image-rendering: pixelated;

        &.active{
            border: #000;
            border-right-color: #eee;
            border-bottom-color: #eee;
        }
    }
}

#draw-btn{
    background:  url('./icons/pencil.png') no-repeat center;
    background-size: 18px;
}

#erase-btn{
    background:  url('./icons/eraser.png') no-repeat center;
    background-size: 18px;
}

#rectangle-btn{
    background:  url('./icons/rectangle.png') no-repeat center;
    background-size: 18px;
}

#ellipse-btn{
    background:  url('./icons/ellipse.png') no-repeat center;
    background-size: 18px;
}

#picker-btn{
    background:  url('./icons/eyedropped.png') no-repeat center;
    background-size: 18px;
}

#clear-btn{
    background:  url('./icons/trash.png') no-repeat center;
    background-size: 15px;
}